@page
@using System.Security.Claims
@model RGNRK.Areas.Marcas.Pages.Benchmarks.ListModel
@{
    ViewData["Title"] = "Benchmarks";
    Layout = "_Layout";
}

<h2>Benchmarks</h2>

<div class="benchmark-list">
    <form method="post">
        @Html.AntiForgeryToken()
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Record (kg)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exercise in Model.Exercises)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].ExerciseId" value="@exercise.Id" />
                            <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                            <input type="text" readonly value="@exercise.Name" />
                        </td>
                        <td>
                            @if (exercise.Benchmarks.Any())
                            {
                                var benchmark = exercise.Benchmarks.FirstOrDefault();
                                <input type="number" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].PersonalRecords" value="@benchmark.PersonalRecords" />
                            }
                            else
                            {
                                <input type="number" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].PersonalRecords" value="" />
                            }
                        </td>
                        <td>
                            <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit">Save</button>
    </form>
</div>

<style>
    .benchmark-list {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        color: white;
        text-align: left;
        margin: 20px;
    }

    .btn-bnch {
        background-color: #199DFC;
        color: white;
        border: none;
        border-radius: 7px;
        padding: 10px 20px;
        font-size: 1.2rem;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

        .btn-bnch:hover {
            color: #D3D3D3;
            text-decoration: none;
        }
</style>
