@page
@using System.Security.Claims
@model RGNRK.Areas.Marcas.Pages.Benchmarks.ListModel
@{
    ViewData["Title"] = "Benchmarks";
    Layout = "_Layout";
}

<link href="~/css/Benchmarks.css" rel="stylesheet">


<h2>Benchmarks</h2>



<div class="benchmark-container">
    <div class="benchmark-list">
        <form method="post">
            @Html.AntiForgeryToken()
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Ejercicio</th>
                        <th>Record (kg)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exercise in Model.Exercises)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].ExerciseId" value="@exercise.Id" />
                                <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                                <input type="text" readonly value="@exercise.Name" class="exercise-name" />
                            </td>
                            <td>
                                @if (exercise.Benchmarks.Any())
                                {
                                    var benchmark = exercise.Benchmarks.FirstOrDefault();
                                    <input type="number" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].PersonalRecords" value="@benchmark.PersonalRecords" class="record-input" required min="1" />
                                }
                                else
                                {
                                    <input type="number" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].PersonalRecords" value="" class="record-input" required min="1" />
                                }
                            </td>
                            <td>
                                <input type="hidden" name="InputBenchmarks[@Model.Exercises.IndexOf(exercise)].Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn-save">Guardar</button>

            <script>
                document.querySelector('form').addEventListener('submit', function (event) {
                    var inputs = document.querySelectorAll('.record-input');
                    for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].value === '' || inputs[i].value <= 0) {
                            alert('Por favor, introduce un valor mayor a 0 para todos los registros personales.');
                            event.preventDefault();
                            return;
                        }
                    }
                });
            </script>
        </form>
    </div>
    </div>

