@page
@model EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authorization
@using RGNRK.Data

@{
    ViewData["Title"] = "Editar Descripción del Entrenamiento";
    Layout = "_Layout";
}

<h2>Editar Descripción del Entrenamiento</h2>

<form method="post">
    <div class="form-group">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Workout.Id)
        @Html.HiddenFor(m => m.Workout.ExerciseId)
        @Html.HiddenFor(m => m.Workout.Duration)
        <label for="Description">Descripción</label>
        <textarea id="tiny" asp-for="@Model.Workout.Description" class="form-control">@Model.Workout.Description</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
