@page
@model RGNRK.Pages.IndexLoggedInModel
@{
    ViewData["Title"] = "Home - Logged In";
}

<h1 class="title">Bienvenido, @Model.UserProfile.FirstName @Model.UserProfile.LastName</h1>

<div class="user-profile">
    <form method="post">
        <div>
            <label asp-for="UserProfile.FirstName"><strong>Nombre:</strong></label>
            <input type="text" asp-for="UserProfile.FirstName" class="form-control" />
            <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.LastName"><strong>Apellidos:</strong></label>
            <input type="text" asp-for="UserProfile.LastName" class="form-control" />
            <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
        </div>
        <div>
            <strong>Correo:</strong> @Model.UserProfile.Email
        </div>
        <div>
            <label asp-for="UserProfile.Height"><strong>Altura:</strong></label>
            <input type="number" asp-for="UserProfile.Height" class="form-control" /> cm
            <span asp-validation-for="UserProfile.Height" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.Weight"><strong>Peso:</strong></label>
            <input type="number" asp-for="UserProfile.Weight" class="form-control" /> kg
            <span asp-validation-for="UserProfile.Weight" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.UserCategory"><strong>Categoría:</strong></label>
            <input type="text" asp-for="UserProfile.UserCategory" class="form-control" />
            <span asp-validation-for="UserProfile.UserCategory" class="text-danger"></span>
        </div>
        <button type="submit" class="btn-bnch btn-primary">Actualizar</button>
    </form>

    <a asp-page="/Benchmarks" class="btn-bnch btn-primary">Mis Marcas</a>

    @* <h2>Mis Reservas</h2>
    <ul>
    @foreach (var reserva in @Model.UserProfile.Reservas)
    {
    <li>@reserva.Fecha - @reserva.Entrenador</li>
    }
    </ul> *@
</div>

<style>
    .title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    .user-profile {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        color: white;
        text-align: left;
        margin: 20px;
    }

    .btn-bnch {
        background-color: #199DFC;
        color: white;
        border: none;
        border-radius: 7px;
        padding: 10px 20px;
        font-size: 1.2rem;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

        .btn-bnch:hover {
            color: #D3D3D3;
            text-decoration: none;
        }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

