@page
@model PersonalPageModel
@{
    ViewData["Title"] = "Página Personal";
}

<h2>Página Personal</h2>

<div>
    <p><strong>ID:</strong> @Model.User.Id</p>
    <p><strong>Nombre:</strong> @Model.User.FirstName</p>
    <p><strong>Apellido:</strong> @Model.User.LastName</p>
    <p><strong>Nombre de Usuario:</strong> @Model.User.UserName</p>
    <p><strong>Altura:</strong> @Model.User.Height cm</p>
    <p><strong>Peso:</strong> @Model.User.Weight kg</p>
    <p><strong>Email:</strong> @Model.User.Email</p>
    <p><strong>Categoría:</strong> @Model.User.UserCategory</p>
</div>