@page
@model PersonalCalendarModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Calendario Personal";
    Layout = "_Layout";
}
<style>
    #content {
        display: flex;
        margin: 20px; 
        align-items: flex-start;
        
    }

    #eventsTable {
        text-align: center;
        flex: 0.25;
        justify-items: center;

    }

        #eventsTable td {
            padding: 20px;
            font-size: 15px;
        }

    #calendar {
        width: 800px; 
        margin: auto;
    }
</style>

<h2>@ViewData["Title"]</h2>


<div id="content">
    <table id="eventsTable">
        <thead>
            <tr>
                <th>Indice</th>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model.Workouts)
            {
                <tr>
                    <td>@Html.Encode(workout.Id)</td>
                    <td>Workout</td>
                    <td>@Html.Encode(workout.StartDate?.ToString("yyyy-MM-dd"))</td>
                    <td>@Html.Encode(workout.Title)</td>
                </tr>
            }
            @foreach (var reserva in Model.Reservas)
            {
                <tr>
                    <td>@Html.Encode(reserva.Id)</td>
                    <td>Reserva</td>
                    <td>@Html.Encode(reserva.Fecha)</td>
                    <td>Entrenador: @Html.Encode(reserva.Entrenador)</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="calendar"></div>
</div>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/locales/es.js"></script>
    <script>
        let eventsArr = loadData();
        let calendar = initCalendar();

        function loadData() {
            let eventsArr = [];

            let eventsTable = document.getElementById("eventsTable");
            let tbodyElem = eventsTable.getElementsByTagName("tbody")[0];
            let trElem = tbodyElem.getElementsByTagName("tr");
            for (let tr of trElem) {
                let tdElems = tr.getElementsByTagName("td");
                let eventObj = {
                    id: tdElems[0].innerText,
                    title: tdElems[1].innerText,
                    start: tdElems[2].innerText,
                    description: tdElems[3].innerText
                }

                eventsArr.push(eventObj);
            }

            return eventsArr;
        }

        function initCalendar() {
            var calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es', // Añade esta línea
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: eventsArr,
            });

            calendar.render();

            return calendar;
        }
    </script>
}